<div id="title">
    <h1><img src="/images/minds-digital.png" alt="Minds Banks"></h1>
</div>
<ul class="nav-menu">
    <li>Início</li>
    <li><a href="/account/leandrof">Minha Conta</a></li>
    <li><a href="/login">Login</a></li>
</ul>