<div id="title">
    <h1><img src="/images/minds-branco.png" alt="Minds Banks"></h1>
</div>
<ul class="nav-menu">
    <li><a href="/account/leandrof">Minha Conta</a></li>
    <li><a href="/login">Logoff</a></li>
</ul>