<div class="modal_container" id="modalContainer">
    <div class="modal" id="modal">
        <div class="section-title">
            <h2>Transferência</h2>
            <hr>
                <form>
                    <div class="pickUserTransfer">Escolha para quem você deseja enviar recursos:</div>
                    <div>
                        <label for="userTo">Favoritos:</label>
                        <select id="userTo" name="userTo" autocomplete=false required>
                            <% data.listOfUsers.forEach((user)=> { %>
                                <option value="<%= user.username %>"><%= user.full_name %></option>
                                <% })%>
                        </select>
                    </div>
                    <br />
                    <div>
                        <label for="amountTransfer">Valor:</label>
                        <input type="text" name="amountTransfer" id="amountTransfer" placeholder="Valor de Transferencia" autocomplete=false oninput="mascaraReais(event);" required>
                    </div>
                    <hr />
                    <div>
                        <span for="timeStamp" id="timeStamp" hidden>Time: 00:00:00</span>
                        <button type="button" id="startRecording">Login</button>
                        <button type="button" id="stopRecording" hidden>Enviar</button>
                        <label id="instructions-login">Grave pelo menos 4 segundos para realizar sua
                            autenticação.</label>
                    </div>
                    <audio id="audioPlayer" controls>
                        Your browser does not support the audio element.
                    </audio>
                    <hr />
                    <div>
                        <button id="transferBtn" type="button" onclick="makeTransfer()">Transferir</button>
                        <button id="cancelTranferBtn" type="button" onclick="closeModal()">Cancelar</button>
                    </div>
                </form>
        </div><!-- section-title-->
    </div>
</div>