<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/head.ejs') %>
        <title>Cadastre-se - Minds Bank</title>
</head>

<body>
    <main id="loginPage">
        <aside>
            <img src="/images/woman-using-laptop.jpg" alt="Robo usando autenticação de voz" />
        </aside>
        <article>
            <div class="content">
                <div id="loginInfo">
                    <img src="/images/minds.png" alt="Minds Digital" />
                </div>
                
                <h1>Abra sua conta</h1>

                <!-- section-title-->
                <div class="openNewAccount">
                    <h4>Dados Pessoais</h4>
                    <form>
                        <input type="text" name="fullname" placeholder="Nome Completo">
                        <input type="text" name="documentId" placeholder="CPF">
                        <input type="text" name="phoneNumber" placeholder="Telefone">
                        <input type="text" name="email" placeholder="Email">
                        <input type="text" name="username" placeholder="Username">
                    </form>
                </div>
                <!-- openNewAccount -->

                <div class="biometryNewAccount">
                    <h4>Cadastro da Biometria de Voz</h4>
                </div>
            </div>
        </article>
    </main>
</body>
</html>