:root {
  --primary-light: #66a0ff;      /* Lighter blue for backgrounds */
  --primary: #0059ff;            /* Main blue for text */
  --primary-dark: #011640;       /* Darker blue for accents */
  --yellow: #f5a623;             /* Yellow for emphasis */
  --yellow-light: #ffd133;       /* Lighter yellow for backgrounds */
  --red: #DF2935 ;                /* Red for alerts */
  --blue-hover: #66a0ff;         /* Hover effect for blue */
  --yellow-hover: #ffd133;       /* Hover effect for yellow */
  --red-hover: #ff6172;          /* Hover effect for red */
  --red-darken: #b71c1c;
  --green: #e8f5e9;
  --badge-green: #109442;

  --light-text: #fff;            /* Light text for dark backgrounds */
  --text: #252525;               /* Main text color */
  --bold-text: #011640;          /* Bold text color for emphasis */
  --bg-gray: #D9DFE8;            /* Background gray for subtle elements */
  --border-color: #eaeaea;       /* Border color */

  --light-bg: #ffffff;           /* Light background for light mode */
  --grey-bg: #f4f4f4;            /* Gray background for light mode */
  --dark-bg: #1a1a1a;            /* Dark background for dark mode */
  --bg-dark-gray: #f2f4f7;

  --security-blue: #003366;          /* Blue for security and trust */
  --security-opposite: #ffcc99;      /* Contrast for blue security and trust */
  --wealth-yellow: #FFD700;          /* Yellow for wealth and prosperity */
  --modern-blue-hover: #66a0ff;      /* Hover effect for modernity */
  --modern-yellow-hover: #ffd133;    /* Hover effect for modernity */
  --availability-green: #4CAF50;     /* Green for availability and abundance */

  --dashboard-incoming: #c4f7dc;     /* Green box for incomings */  
  --dashboard-outgoing: #f5d3d3;         /* Red box for outgoing */  
  --dashboard-totals: #BBE5FF;       /* Blue box for totals */

  --minds-color: #0055FF;
  --minds-color-opacity: #0055FF60;
  --minds-color-opacity: #0055FF60;
  --a5-color: #F78215;

  --radius-10: 10px;
  --radius-10: 10px;
  --border-color: #eaeaea;
  --border: 1px solid var(--border-color);

  --padding-24px: 24px;
}


*{
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}
/* Estilos gerais para tornar a página responsiva */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: unset;
}

/* Estilos para o cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-dark);
  background-color: var(--primary-dark);
  padding: 10px;
}

header img {
  max-width: 100px;
  height: 40px;
  height: 40px;
}

nav {
  display: flex;
  gap: 20px;
}

.nav-menu{
  padding: 0;
  margin: 0;
}
.nav-menu li, 
.nav-menu li a{
  color: var(--light-text);
  text-decoration: none;
  font-weight: 700;
}
.nav-menu li a:hover{
  text-decoration: underline;
}

.nav-menu{
  padding: 0;
  margin: 0;
}
.nav-menu li, 
.nav-menu li a{
  color: var(--light-text);
  text-decoration: none;
  font-weight: 700;
}
.nav-menu li a:hover{
  text-decoration: underline;
}

/* Estilos para o conteúdo principal */
main {
  max-width: 1400px;
  margin: 0px auto;
  margin: 0px auto;
  padding: 20px;
  background-color: var(--grey-bg);
}

/* Estilos para o rodapé */
footer {
  text-align: center;
  padding: 10px;
  background-color: var(--light-bg);
  color: var(--minds-color);
}

aside{
  padding: 20px;
}

button {
  background-color: var(--primary-dark);
  color: var(--light-bg);
  padding: 16px;
  border: none;
  border-radius: var(--radius-10);
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--minds-color);
}

form {
  max-width: 70%;
  margin: 10px auto;
}

input, 
select{
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
  padding: 16px;
  border: 1px solid var(--primary-dark);
  border-radius: var(--radius-10);
  background-color: var(--grey-bg);
}

input::placeholder{
  color: var(--bg-gray);
}
select:focus,
input:focus{
  border-color: var(--minds-color);
  box-shadow: 0px 0px 35px -5px var(--minds-color-opacity);
}

label {
  display: block;
  margin-bottom: 8px;
}

li {
  display: inline-block;
  margin: 20px;
}

main {
  display: flex;
  height: 90%; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

textarea#logs {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  outline: none;
  padding: 16px;
  border: 1px solid var(--primary-dark);
  border-radius: var(--radius-10);
  background-color: var(--grey-bg);
  resize: none;
}

h4 {
  margin-bottom: 10px;
}

#instructions-login {
  color: var(--orange);
  margin-bottom: 20px;
}

#logsWrapper {
  display: flex;
}

#recordButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timeStamp {
  margin: 10px 0 -40px;
  color: var(--font);
  font-size: small;
}

#title {
  padding-left: 20px;
}

#title h1{
  color: var(--light-text);
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  flex-wrap: wrap;
  height: 100%;
}

.main-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--grey-bg);
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--security-blue);
  background-color: var(--light-bg);
}

.sidebar h3 {
  padding: 5px;
  text-align: center;
  color: var(--primary-dark);
  font-size: 16px;
}

.sidebar a {
  font-size: 14px;
  display: block;
  color: var(--security-blue);
  text-decoration: none;
  transition: all ease 0.7s;
  padding: var(--padding-24px);
}

.sidebar a:hover {
  display: block;
  font-weight: bold;
  text-decoration: none;
  padding:var(--padding-24px);;
  color: var(--light-bg);
  box-shadow: inset 50em 0 0 0 var(--primary-dark);
}

.page-account .content {
  background-color: var(--bg-gray);
}

.section-title {
  background-color: white;
  padding: var(--padding-24px);;
  margin: 12px;
  border-radius: var(--radius-10);
}

.dashboard {
  display: grid;;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--light-bg);
  padding: 8px;
  margin: 12px;
  font-size: 20px;
  font-weight: bold;
  border-radius: var(--radius-10);
  justify-content: space-around;
  text-align: center;
}

.dashboard span{
  font-weight: 400;
  font-size: 16px;
}

.incomingBox,
.outgoingBox,
.totalsBox{
  padding: 24px;
  margin: 8px;
}

.incomingBox,
.outgoingBox{
  border-right: 1px solid var(--bg-gray);
}


.section-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 12px;
  border-radius: var(--radius-10);
}

.section-content hr {
  width: 100%;
}

.table-titles,
.saidas-extrato,
.entradas-extrato{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.saidas-extrato,
.entradas-extrato{
  font-size: 14px;
  padding: var(--padding-24px);;
  border-top: 1px solid var(--bg-gray);
}

.saidas-extrato .transaction_type,
.transacao-negativa,
.entradas-extrato .transaction_type,
.transacao-entrada,
.transacao-positiva{
  border-radius: 15px;
  max-width: fit-content;
  padding: 5px 20px;
}

.saidas-extrato .transaction_type,
.transacao-negativa{
  background-color: var(--red);
  color:var(--light-text);
}

.saidas-extrato .amount,
.entradas-extrato .amount{
  text-align: right;
  padding: 3px;
}

.entradas-extrato .transaction_type,
.transacao-entrada,
.transacao-positiva{
  background-color: var(--badge-green);
  color:var(--light-text);
}

.saidas-extrato .transaction_type,
.saidas-extrato .transaction_type,
.entradas-extrato .transaction_type{
  text-align: left;
}

.transacao-entrada {
  font-weight: bold;
}

.transacao-saida,
.transaction_description,
.transacao-saida,
.transaction_description,
.transaction_date {
  font-weight:normal;
  color: var(--bold-text);
}

.transacao-positiva {
  font-weight:normal;
  text-align: right;
}

.transacao-negativa {
  font-weight:normal;
  text-align: right;
}

.table-titles{
  padding: var(--padding-24px);;
  background-color: var(--bg-dark-gray);
  border-top-left-radius: var(--radius-10);
  border-top-right-radius: var(--radius-10);
  font-weight: 700;
}
.table-titles div:last-child{
  text-align: right;
}


/* SLIDER */
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 2px;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 1px;
  content: "";
  height: 18px;
  left: 1px;
  position: absolute;
  transition: .4s;
  width: 18px;
}

input:checked + .slider {
  background-color: var(--primary-dark);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal_container {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  background: #222;
  z-index: 100;
  top: 0;
  overflow: hidden;
  animation-name: fadeIn_Container;
  animation-duration: 1s;
}

.modal{
  display: none;
  min-width: 250px;
  width: 60%;
  height: auto;
  margin: 0 auto;
  z-index: 101;
  background: #fff;
  border-radius: var(--radius-10);
  box-shadow: 0px 0px var(--radius-10) #000;
  opacity: 1;
  animation-name: fadeIn_Modal;
  animation-duration: 0.8s;
}

.pickUserTransfer {
  text-align: center;
  color: var(--primary-dark);
  font-weight: 700;
  padding: 18px;
}

#logsWrapper span{
  margin-right: 10px;
}

#logsWrapper span{
  margin-right: 10px;
}

/* Estilos para tornar a página mais responsiva em dispositivos móveis */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header img {
    margin-bottom: 10px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 0px;
  }
  article {
    display: flex;
    flex-direction: row-reverse;
  }
}

article {
  padding: 20px;
  background-color: var(--bg-dark-gray);
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 0;
}

#loginPage{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px;
  max-width: 100%;
  height: 100vh;
}

@media (max-width: 768px){
  #loginPage{
    grid-template-columns: 1fr;
  }
  #loginPage aside{
    display: none;
  }
}

#loginPage aside,
#loginPage article{
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#loginPage aside img{
  height: 100vh;
  max-width: unset;
  margin-left: -300px
}
@media (max-width: 960px){
  #loginPage aside img{
    margin-left: -400px
  }
}

#loginPage article{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-bg);
}

#loginInfo{
  margin-bottom: 40px;
}
#loginForm label{
  font-weight: 700;
}

#recordButtonWrapper button{
  margin-bottom: 20px;
}

#stopRecording{
  margin-top: -40px;
  z-index: 2;
}

#audioPlayer{
  width: 100%;
}
#audioWaveLottie{
  display: none;
  z-index: 1;
}
#audioWaveLottie.active{
  display: block;
}

.double-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.btn-main{
  background-color: var(--minds-color);
}
.btn-main:hover{
  background-color: var(--primary-light);
}

.page-account{
  overflow-x: hidden;
  background-color: var(--bg-gray);
}

#confirmationContainer span{
  display: block;
  text-align: center;
  margin: 20px auto 10px;
}

#confirmationContainer label#instructions-login{
  margin: 20px auto;
  text-align: center;
}

.error-input{
  border-color: var(--red-darken);
}
.error-input::placeholder{
  color: var(--red);
}

.errorLabel{
  color: var(--red);
  margin-bottom: 20px;
  font-size: 14px;
}

#errorUsername,
#errorFavorite,
#errorValue{
  display: none;
}

.no-transactions{
  padding: var(--padding-24px);
}

hr{
  border-top: 1px solid var(--bg-gray);
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex svg{
  margin-right: 10px;
}

.incomingBox,
.outgoingBox,
.totalsBox{
  text-align: left;
}

.incomingBox svg,
.outgoingBox svg,
.totalsBox svg{
  width: 50px;
}

.incomingBox svg path{ 
  stroke: var(--badge-green);
}

.outgoingBox svg path{
  stroke: var(--red);
}

.totalsBox svg path{
  stroke: var(--primary-dark);
}

#errorsMessage {
  display: none;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}
#errorsMessage span{
  display: block;
  font-size: 1em;
  margin-bottom: 0px;
}
#errorsMessage svg{
  width: 30px;
  height: auto;
  fill: var(--red);
}

.content{
  width: 100%;
  margin: 10px auto;
}

.content form{
  max-width: 100%;
  margin: 0px auto;
}

button:disabled,
button[disabled],
button[disabled]:hover{
  cursor: not-allowed;
  background-color: var(--security-blue);
  opacity: 0.3;
}

#valueMessage{
  text-align: center;
}